body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

nav .menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav .cadastro button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #4a7cb8;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    background-color: #4a7cb8;
    color: white;
    flex-direction: column;
}

#projetos .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.projetos-lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.projeto {
    background-color: #1f3a66;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: white;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}
