*
*::before
*::after {box-sizing: border-box;}

html, body{
    height: 100%;
}

body{
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: rgb(31, 57, 80);
    color: rgb(0, 0, 0);
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    }
        
    /* Cabeçalho */
    .cabeçalho{
        display: flex;
        background-color: rgb(0, 0, 0);
        justify-content: space-between;
        align-items: center;
    }
    
    .cabeçalho h2{
        text-align: right;
        color: white;
        padding: 1rem;
        margin-left: 1rem;
        display: flex;
    }
    
    .navegacao{
        display: flex;
        text-align: center;
        justify-content: flex-start;
    }
    
    .links a{
        font-weight: 700;
        text-decoration: none;
    }
    
    .menu{
        color: white;
        margin-right: 15px;
        display: inline-block;
    }
    
    .menu:hover{
        color: rgb(0, 182, 255);
        transition: .15s ease-in-out;
        transform: scale(1.2);
        
    }
    
    #btn{
        margin-right: 2rem;
    }
    
    .botao-contato{
        color: white;
        background-color: #0088FF;
        padding: 11px 18px;
        margin-right: 2rem;
        border-radius: 8px;
        display: inline-block;
        text-decoration: none;
    }
    
    .botao-contato:hover{
        color: rgb(255, 255, 255);
        box-shadow: 0px 0px 15px  rgba(14, 239, 255, 0.548);
        transition: .15s ease-in-out;
        transform: scale(0.95);
    }
    


.container{
    width: min(100%, 1200px);
    margin-inline: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.grade-produtos{
    display: grid;
    gap: 15px;
    display: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

/* Tornar a grade responsiva */
@media(max-width: 1200px){
    .grade-produtos{grid-template-columns: repeat(4, 1fr);}
  }
  
  @media(max-width: 992px){
      .grade-produtos{grid-template-columns: repeat(3, 1fr);}
  }
  
  @media(max-width: 680px){
      .grade-produtos{grid-template-columns: repeat(2, 1fr);}
  }
  
  @media(max-width: 420px){
      .grade-produtos{grid-template-columns: repeat 1fr;}
  }

.card{
    background-color: rgb(255, 255, 255);
    border-radius: 12px; /* da uma borda suave no elemento*/
    overflow: hidden; /* Corta a imagem, ajusta*/
    display: flex;
    flex-direction: column;
    transition: transform .15s ease, box-shadow .15s ease;
    outline: none;
    padding: -2rem ;
}

.card:hover, .card:focus{
    transform: translateY(-4px);
    box-shadow: 0 8px 23px blue;
}

.card-midea{
    aspect-ratio: 4/3;
    overflow: hidden;
    background-color: white;
    position: relative;
}

.card-media img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-conteudo{
    padding: .9rem .9rem 1rem;
    display: grid;
    gap: .4rem;
}

.card-titulo{
    margin: 0;
    font-size: .98rem;
    font-weight: 600;
    display: -webkit-box; /* --  --*/
    -webkit-line-clamp: 2; /* Limita para 2 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 2.6rem;
}

.preco{
    display: block;

}

.valor{
    font-weight: bold;
}

footer{
background-color: #272727;
color: #FFF;
padding: 2rem;
text-align: center;
}
            
footer p{
margin: 0;
}