body{
    padding: 0;
    margin: 0;
    font-family: inter;
}

.imagem-topo{
    width: 100%;
    height: 150px;
    display: flex;
}

.imgto{
    width: 100%;
    height: 150px;

}

.textotop{
    color: white;
    font-size: 26px;
    font-weight: 500;
}

#nos{
    color: #522C27;
    font-weight: 800;
}