body{
    padding: 0;
    margin: 0;
    font-family: inter;
}

.imagem{

}

.imagem-topo{    
    width: 100%;
    height: 180px;px ;
    background-position: center;
    background-image: url(perfect.jpg);
    background: linear-gradient();
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.textotop{
    padding: 0 4%;
    color: white;
    font-size: 26px;
}

