body{
    width: 100%;
    height: 100px;
    background-color: rgb(248, 255, 255);
}

header{
    text-align: center;
}

table{
    width: 400px;
    border-collapse: collapse; 
}

th,td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

table.tab{
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 12px;
}