
/*Estilos aplicados ao básico da pagina*/
body{
    background-color: rgb(222, 232, 240);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 3rem;
}

h1{
    margin-top: 80px;
    color: rgb(17, 59, 107)
}


/* classe base para todos os botões */

.btn{
    background-color: rgb(255, 255, 255); /* Cor inicial dos botões */
    border: 2px solid rgb(27, 72, 90);
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 1.4s ease; /* suavisa a transição de cor */
    
}

/* Botão azul */
.btn-azul:hover{
    background: linear-gradient(90deg, #60a5fa, #1e4b83); /* Degradê azul quando passa o mouse */
    color: rgb(255, 255, 255);
    border-color: #1e3a84;
}

.btn-amarelo:active{ /* a tag :active serve para o botão mudar de cor quando pressionado*/
    background: linear-gradient(90deg, #35abcf, #4a9fff);
    color: rgb(255, 255, 255);
    border-color: #1e3a84;
}

.btn-verde:focus{ /* pode ser utilizado a tag :focus para manter um botão fixado */
    background: linear-gradient(90deg, #35abcf, #4a9fff);
    color: aliceblue;
    border-color: #1e3a84;
}

.section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

#id{
    flex-basis: 100%;
}